.main-container {
    display: flex;
}
.dashboard-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 100px;
    margin-bottom: 60px;
    overflow-y: auto;
}
.total-box {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-background-color);
    color: black;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-wrap: wrap;
}

.total {
    flex: 100%;
    color: var(--get-color);
}
.owe {
    flex: 50%;
    color: var(--owe-color);
}
.get {
    flex: 50%;
    color: var(--get-color);
}
