.header-container {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-logo {
    width: 100px;
    height: 100px;
}

.header-text {
    align-content: center;
    font-size: xx-large;
    font-weight: 700;
}

.third {
    width: 100px;
}
